{{!-- <div class="row">
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3>Current Status</h3>
				<p>{{currentStatus}}</p>
			</div>
			<div class="icon">
				<i class="fa fa-clock-o"></i>
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-green">
			<div class="inner">
				<h3>Break Time</h3>
				<p>{{breakTime}}</p>
			</div>
			<div class="icon">
				<i class="fa fa-pause"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>

	<div class="col-lg-3 col-xs-6">

		<div class="small-box bg-yellow">
			<div class="inner">
				<h3>Total Time</h3>
				<p>{{loginTime}}</p>
			</div>
			<div class="icon">
				<i class="fa fa-play"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-xs-6">
		<div class="small-box bg-red">
			<div class="inner">
				<h3>{{iMyMe.project}}</h3>
				<p>{{iMyMe.subcampaign}}</p>
			</div>
			<div class="icon">
				<i class="ion ion-pie-graph"></i>
			</div>
			<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
</div>
</div>
</div> --}}
<div class="row">
	<div class="col-md-12">
		<div class="box box-abacus">
			<div class="box-header no-padding">
				<h3 class="box-title">Select from menu</h3>
			</div>
			<div class="box-body">

			</div>
		</div>
	</div>
</div>
