<div class="col-md-12 no-padding">
	<div class="box box-abacus">
		<div class="box-header">
			<h4>Complete Survey</h4>
		</div>
		<div class="box-body">
			<form role="form" id="formSurveys" method="POST" enctype="multipart/form-data"
				{{action "save" on="submit"}}>
				{{input type="hidden" valueBinding="surveys.id" }}
				{{!-- <div class="clearfix"><br></div> --}}
				<div class="row">
					<div class="form-group form-group-sm  col-md-3 col-sm-6 col-xs-12">
						<div class="input-group input-group-sm">
							<div class="input-group-addon" style="border-color: #38b64d;"><i class="fa">Survey Name</i>
							</div>
							{{input class="form-control input-sm" label="nameSurvey" disabled=true valueBinding="surveys.name"}}
						</div>
					</div>
					<div class="form-group form-group-sm col-md-3 col-sm-6 col-xs-12">
						<div class="input-group input-group-sm">
							<div class="input-group-addon" style="border-color: #38b64d;"><i class="fa">From Date</i>
							</div>
							{{input class="form-control input-sm" label="fromDateSurveys" disabled=true valueBinding="surveys.from_date"}}
						</div>
					</div>
					<div class="form-group form-group-sm col-md-3 col-sm-6 col-xs-12">
						<div class="input-group input-group-sm">
							<div class="input-group-addon" style="border-color: #38b64d;"><i class="fa">To Date</i>
							</div>
							{{input class="form-control input-sm" label="toDateSurveys" disabled=true valueBinding="surveys.to_date"}}
						</div>
					</div>
					<div class="form-group form-group-sm col-md-12 col-sm-12 col-xs-12">
						Select questions for survey<br>
						{{!-- <div class="clearfix"></div> --}}
						{{#each sr in model.surveyResults}}
						<div class="input-group input-group-sm col-md-12 col-sm-12 col-xs-12">
							<div class="input-group-addon" style="border-color: #38b64d;"><i
									class="fa">{{sr.question_id.name}}</i></div>
							<span class="pull-right"
								style="margin-top:10px;">{{star-rating starId=sr.id starRating=sr.result maxStars=5 action="rateLead"}}</span>
						</div>
						{{!-- <label class="col-md-12 col-sm-12 col-xs-12" style="text-align: left;" >{{sr.question_id.name}}</label>  
							{{star-rating starRating=sr.result maxStars=5 action="rateMovie"}} --}}
						{{!--    --}}
						{{/each}}
					</div>
					<div class="form-group form-group-sm col-md-12 col-sm-12 col-xs-12">
						Are there any specific areas of improvement that you would suggest? Please add some evaluative
						comments to highlight these improvement areas:
						<div class="clearfix"><br></div>
						{{textarea class="form-control" rows="3" id="feedbackSurvey" placeholder="Enter here..." value=surveys.feedback}}
					</div>
					{{!--  <div class="form-group-sm  col-md-2 col-sm-6 col-xs-12">
							<label for="surveyId">*</label>
						
						</div> --}}
				</div>
				<div class="box-footer">
					{{!-- <div class="clearfix"><br></div>	 --}}
					<div class="row">
						<div class="col-sm-8 col-sm-12 col-xs-12">
						</div>
						<div class="col-sm-2 col-sm-6 col-xs-12">
							<input type="submit" class="form-control btn btn-abacus btn-flat btn-sm pull-left"
								value="Save">
						</div>
						<div class="col-sm-2 col-sm-6 col-xs-12">
							<input type="reset" class="form-control btn btn-abacus btn-flat btn-sm pull-right"
								value="Reset">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!-- /.col -->
{{!-- <div class="row"> --}}
{{!-- <div class="col-md-12 no-padding">
		<div class="box box-abacus">
    	<div class="box-header"> <h4 >Surveys</h4></div>
    	<div class="box-body">
					<div class="tab-pane active" id="surveys-survey" style="position:relative;">
						<div class="box-body" style="height:400px">
							<table class="table table-bordered">
								<tr>
									<th>Survey</th>
									<th>From Date</th>
									<th>To Date</th>
									<th>Campaigns</th>
									<th>Questions</th>
									<th>Users</th>                  
								</tr>
								{{#each modelSurvey in model.surveys}}
									<tr>
											<td>{{modelSurvey.name}}</td>
											<td>{{modelSurvey.from_date}}</td>
											<td>{{modelSurvey.to_date}}</td>
											<td>{{modelSurvey.campaigns}}</td>
											<td>{{modelSurvey.questions}}</td>
											<td>{{modelSurvey.users}}</td>                    
									</tr>
								{{else}}
									<tr><td></td><td colspan="6"> No Survey Found (click on reload button to check).</td><td></td> </tr>
								{{/each}}
							</table>
						</div>
					</div>
				</div>	
		</div> 
	</div>	--}}
{{!-- </div>     --}}
