<div class="row">
	<div class="col-md-4">
		<div class="box box-abacus">
			<div class="box-header">
				<h3 class="box-title">Assign Access Rights</h3>
			</div><!-- /.box-header -->
			<div class="box-body">
				<form role="form">
					{{!-- <div class="box-body" style="height:360px;"> --}}
					<div class="form-group">
						<label for="name">Role</label>
						{{view "select" class="form-control" content=model.roles id="cmbRolesAccess" optionValuePath="content.id" optionLabelPath="content.name" valueBinding="rights.role_id" prompt="Select Role ..."}}
					</div>
					<div class="form-group">
						<label for="name">City</label>
						{{view "select" class="form-control" content=model.domains id="cmbDomainsAccess" optionValuePath="content.id" optionLabelPath="content.name" valueBinding="rights.center_id" prompt="Select Center ..."}}
					</div>
					<div class="form-group">
						<label for="name">User</label>
						{{view "select" class="select2 form-control" content=users id="cmbUsersAccess" optionValuePath="content.id" optionLabelPath="content.name" valueBinding="rights.users" multiselect="true" prompt="Select User ..."}}
					</div>
					{{!-- </div>
					<div class="box-footer">
					</div> --}}
				</form>
			</div>
		</div><!-- /.box -->

	</div><!-- /.col -->
	<div class="col-md-8">
		<div class="box  box-abacus">
			<div class="box-header">
				<h3 class="box-title">Campiagns List</h3>
			</div><!-- /.box-header -->
			<div class="box-body" style="height:400px; overflow-y:auto; overflow-x:hidden">
				<table class="table table-bordered">
					<tr>
						<th style="width: 10px; border-right:0px"> </th>
						<th></th>
						<th style="width: 100px"> </th>
					</tr>
					{{#each mod in accessList}}
					<thead>
						<tr>
							<th style="width: 10px; border-right:0px">
								{{#if mod.isChecked}}
								<input type=checkbox {{action "allowRights" mod.id}} checked=checked>
								{{else}}
								<input type=checkbox {{action "allowRights" mod.id}}>
								{{/if}}
							</th>
							<th colspan="2"> {{mod.name}}</th>
							<th style="width: 100px"> {{#if mod.isChecked}}Allowed {{else}} Blocked {{/if}}</th>
						</tr>
					</thead>
					<tbody>
						{{#each modHils in mod.children}}
						<tr>
							<td style="width: 10px"> </td>
							<td style="width: 10px; border-right:0px">
								{{#if modHils.isChecked}}
								<input type=checkbox {{action "allowRights" modHils.id}} checked=checked>
								{{else}}
								<input type=checkbox {{action "allowRights" modHils.id}}>
								{{/if}}
							</td>
							<td> {{modHils.name}}</td>
							<td style="width: 100px"> {{#if modHils.isChecked}}Allowed {{else}} Blocked {{/if}}</td>
						</tr>
						{{#each modHils2 in modHils.children}}
						<tr>
							<td style="width: 10px"> </td>
							<td style="width: 10px"> </td>
							<td style="width: 10px; border-right:0px">
								{{#if modHils2.isChecked}}
								<input type=checkbox {{action "allowRights" modHils2.id}} checked=checked>
								{{else}}
								<input type=checkbox {{action "allowRights" modHils2.id}}>
								{{/if}}
								{{modHils2.name}}</td>
							<td style="width: 100px"> {{#if modHils2.isChecked}}Allowed {{else}} Blocked {{/if}}</td>
						</tr>
						{{/each}}
						{{/each}}</tbody>
					{{else}}
					<thead>
						<tr>
							<td colspan="4"> Select role and user first... </td>
						</tr>
					</thead>
					{{/each}}




				</table>
			</div>

		</div><!-- /.box -->


	</div><!-- /.col -->

</div>
